<header class="header">
    <div class="blog-title">
        <h1><a href="<%- url_for() %>"><%= config.title %></a></h1>
        <p class="description"><%= config.description %></p>
    </div>
    <nav class="navbar">
        <ul class="menu">
            <% for (name in theme.menu) { %>
            <li class="menu-item">
                <a href="<%- url_for(theme.menu[name]) %>" class="menu-item-link"><%= name %></a>
            </li>
            <% } %>
        </ul>
    </nav>
</header>